body {
    background-color: #300A24;
    color: #eee;
    font-family: 'Ubuntu Mono', monospace;
    margin: 0;
    padding: 1rem;
    overflow: hidden;
  }
  
  .terminal {
    white-space: pre-wrap;
    line-height: 1.4;
    height: 100vh;
    overflow-y: auto;
  }
  
  .prompt-user {
    color: #326E57;
    font-weight: bold;
  }
  
  .prompt-path {
    color: #2e2f6e;
    font-weight: bold;
  }

  .prompt-symbol {
    color: #ffffff;
  }