body {
    background-color: #300A24;
    color: #eee;
    font-family: 'Ubuntu Mono', monospace;
    margin: 0;
    padding: 1rem;
    overflow: auto;
  }
  
  .terminal {
    white-space: pre-wrap;
    line-height: 1.4;
    height: calc(100vh - 20px);
    overflow-y: auto;
  }
  
  .prompt-user {
    color: #326E57;
    font-weight: bold;
  }
  
  .prompt-path {
    color: #1e90ff;
    font-weight: bold;
  }

  .prompt-symbol {
    color: #ffffff;
  }

  .cursor {
    color: #000000;
    background-color: #ccc;
    font-weight: bold;
  }

  @keyframes blink {
    0%, 49% {
      background-color: #cccccc;
      color: #000000;
    }
    50%, 100% {
      background-color: transparent;
      color: inherit;
    }
  }

  .cursor.blink {
    animation: blink 1.5s step-start infinite;
  }

  .directory {
    color: #1e90ff;
    font-weight: bold;
  }

  #quick-bar {
    position:fixed;
    top: 10px;
    right: 20px;
    background-color: transparent;
    padding: 10px 15px;
    z-index: 9999;
    pointer-events: none;
  }

  #quick-bar a {
    color: #ffffff;
    text-decoration:underline;
    margin-left: 12px;
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace;
    pointer-events: auto;
  }

  #quickbar a:visited,
  #quickbar a:active {
    color: #ffffff;
  }

  #quick-bar a:hover {
    text-decoration: underline;
    color: #ffffff8a;
  }
  
.quick-menu {
  position: fixed;
  z-index: 100;
  background: #300924;
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 0;
  min-width: 100px;
  font: inherit;
  color: #000;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);

  display: inline-flex;
  flex-direction: column;
  gap: 2px;
  box-sizing: border-box;
}

.quick-menu a {
  display: block;
  padding: 2px 8px;
  line-height: 1.2;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

.quick-menu a:hover {
  background: #ffffff8a;
}

.fs-link {
  text-decoration: none;
}

.fs-link[data-fs-type="dir"] {
  color: #1e90ff;
  text-decoration: none;
}

.fs-link[data-fs-type="dir"]:visited {
  color: #1e90ff;
}

.fs-link[data-fs-type="file"] {
  color: #ffffff;
  text-decoration: none;
}

.fs-link[data-fs-type="file"]:visited {
  color: #ffffff;
}

.fs-link:hover { text-decoration: underline; }